
@import "../utilities/variables";



    
   /* ------------------ Footer --------------------- */
.footer {
    margin-top: auto;
    padding: 30px;
    margin-bottom: 20px;
    text-align: map-get($boton, centro); 
    font-size: map-get($boton, Fuente);
    background: $colorFooter;
        img{
        width: 35px;
        padding: 5px;
        &:hover{
            opacity: 1;
        }
    }
}
.contacto p {

    text-align: start;
    justify-content: center;

}